*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

header{
    height: 100px;
}

/* .clearfix::after{
    content: "";
    display: table;
    clear: both;
} */

header{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.top-bar{
    height: 100px;
    width: 80%;
    background-color: violet;   
    /* float: right; */
    justify-content: flex-end;
}

.left-bar{
    height:100vh ;
    width: 20%;
    background-color: black;
    /* float: left; */
    justify-items: flex-start;
}


main{
   width: 80%;
   height: calc(100vh - 180px);
   display: flex;
   flex-direction: row;
   overflow: auto;
   background-color: teal;
}
   
.main-content{
    display: flex;
    flex-wrap: wrap;
    justify-items: flex-end;
}

footer{

    position: relative;
}

.player{
    background-color: yellow;
    height: 80px;
    
}