*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITIS */


body{
    font-family: 'Montserrat', sans-serif;
}

.wrapper{
    height: calc(100vh - 80px);
   
}


.clearfix::after {
    content: "";
    clear: both;
    display: table;
}





/* CREAZIONE STRUTTURA  */

.left-bar, main{
    float: left;
}

.left-bar{
    height:100%;
    width: 220px;
    background-color: black;
  
}

   
main{
    width: calc(100% - 220px);
    height: 100%;
    overflow: auto;
    background-color: rgb(23, 27, 46);
    position: relative;
    color: white;
}

.header{
    height: 80px;
    width: calc(100% - 220px);
    position: fixed;
    right: 0;
    top: 0;
   
    background-color: rgb(0, 0, 0, 0.5);
}



.player{
    background-color: #333;
    height: 80px; 

}

/* MAIN */

/* INSERIMENTO MENU' */

.menu ul li{
    margin-top: 90px;
    display: inline-block;
    padding: 10px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.menu ul{
    text-align: center;
}

.menu a:hover{
    border-bottom: 3px solid greenyellow;
    border-width: 5px;   
}

/* CREAZIONE GRIGLIA PER ISERIMENTO  COPERTINE PODCAST */



h2{
    margin-top: 40px;
    margin-bottom: 15px;
    margin-left: 28px;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.col{
    /* flex-grow: 1; */
    width: calc( 100% / 6 - 16px);
    height: 180px;
    margin: 8px;

}

.col{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.metal{
    background-image: url(../img/metal_lifting.jpg);
    
}

.stranger{
    background-image: url(../img/stranger.jpeg);
}

.place{
    background-image: url(../img/aquietplace.jpeg);
}

.split{
    background-image: url(../img/split.jpeg);
}

.wellness{
    background-image: url(../img/cure.jpeg);
}

.sinister{
    background-image: url(../img/sinister.jpeg);

}

/* INSERIMENTO DIDASCALIA PODCAST */

.col-titol{

    width: calc( 100% / 6 - 16px);
    height: 50px;
    margin: 8px;
    position: relative;
    justify-content: center;
    margin-bottom: 50px;
}

.row {
    margin-left: 20px;
    margin-right: 20px;
}

.col-titol h5{
    text-align: center;
    padding: 2px;
}
.col-titol p{
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: rgb(189, 189, 189);
}

/* <!-- SECONDA SEZIONE BRANI --> */
#caption-playlist{
    margin-left: 28px;
    font-size: 12px;
    margin-bottom: 20px;
    color: rgb(189, 189, 189);

}

.radar{
    background-image: url(../img/radar.jpeg);
}

.mix{
    background-image: url(../img/mixdaily.jpeg);
}

/* <!-- TERZA SEZIONE DI BRANI --> */


.artista img{
    width: 100%;
    border-radius: 50%;
    margin: 10px;
    
}

