*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-fluid{
    width: 100%;
    max-width: 100%;
}

header{
    height: 100px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* header{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
} */

.top-bar{
    height: 100px;
    width: 80%;
    background-color: violet;   
    float: right;
    overflow:auto;
    opacity: 0.5;
    /* justify-content: flex-end; */
}

.left-bar{
    height:100vh;
    width: 20%;
    background-color: black;
    float: left;
  /* justify-items: flex-start */
}



   
.box1{
    width: 80%;   
    height: calc(100vh - 100px);
    overflow: auto;
    background-color: teal;
    float: right;
}

/* .box{
    height: 100px;
    background-color: tomato;
      
} */

footer{

    position: relative;
}

.player{
    background-color: yellow;
    height: 80px;
    
}